body{
  background-image: url(https://thumbs.gfycat.com/FavorableFlamboyantFugu-size_restricted.gif);
background-repeat: no-repeat;
background-size: 1500px;

}

.card{
  background-image: radial-gradient(#6c96b3,#366380);
 margin:  auto ;
 display: flex;
 flex-wrap: wrap;
 margin-top: 3%;
  width: 700px;
  height: 500px;
}
.row{
  height: 400px;
  
}
.temp{
  display: inline-flex;
}